In [74]:
import pandas as pd
import numpy as np
import re
import pickle

In [75]:
def combineDF(num_df):
    '''
    This function takes in the number of clean df_country_foods dataframes. 
    It opens the pickle files then appends these dataframes to a list. It then concatenates all dfs into one.
    
    -----
    input: int
    output: DataFrame
    '''
    i = 1
    list_dfs = []
    while i <= num_df:
        with open(('data/df_country_foods_')+str(i)+'.pickle', 'rb') as read_file:
            df_country_foods = pickle.load(read_file)
        list_dfs.append(df_country_foods)
        i += 1
    combine_df = pd.concat(list_dfs)
    return combine_df

In [76]:
combine_df = combineDF(3)

In [153]:
def groupDF(combine_df):
    '''
    This function takes in a clean combined dataframe of foods, food groups, and country names. It returns a 
    transposed dataframe countaining counts of each food mentioned by country
    -----
    input: DataFrame
    output: DataFrame
    '''
    # Grouping into 5 basic food groups
    replace_groups = {'Teas': 'extra','Pulses': 'protein', 'Coffee and coffee products': 'extra', 
                 'Gourds': 'fruits', 'Vegetables': 'vegetables', 'Fruits':'fruits', 
                 'Cereals and cereal products':'grains', 'Milk and milk products':'dairy', 'Baking goods':'extra',
                 'Beverages':'extra', 'Beverages':'extra', 'Aquatic foods':'protein', 'Eggs':'protein', 
                 'Confectioneries':'extra', 'Cocoa and cocoa products':'extra', 'Animal foods':'protein',
                 'Nuts':'protein', 'Snack foods':'extra', 'Soy':'protein'}
    combine_df = combine_df[combine_df.group != 'Herbs and Spices']
    combine_df = combine_df[combine_df.group != 'Herbs and spices']
    combine_df = combine_df[combine_df.group != 'Dishes']
    combine_df = combine_df[combine_df.group != 'Fats and oils']
    combine_df = combine_df.replace({'group':replace_groups})
    combine_df.country = [x.strip() for x in combine_df.country]
    replace_country = {'East Africa':'Ethiopia', 'Africa':'Morocco', 'North Africa':'Morocco', 'Korea':'South Korea',
                      'Islands of the Pacific':'Fiji', 'Virgin Islands':'Puerto Rico', 'Sicily':'Italy',
                      }
    combine_df = combine_df.replace({'country':replace_country})
    combine_df = combine_df.reset_index(drop = True)
    
    # Cleaning countries to reflect same country
    combine_df['country'] = [country.replace('-', ' ') for country in combine_df['country']]
    for i,country in enumerate(combine_df['country']):
        if re.search(r'^United States', country):
            combine_df.loc[i, 'country'] = 'United States'
    for i,country in enumerate(combine_df['country']):
        if re.search(r'^Brazil', country):
            combine_df.loc[i, 'country'] = 'Brazil'
    for i,country in enumerate(combine_df['country']):
        if re.search(r'^Australia', country):
            combine_df.loc[i, 'country'] = 'Australia'
    for i,country in enumerate(combine_df['country']):
        if re.search(r'^Canada', country):
            combine_df.loc[i, 'country'] = 'Canada'
    df_country_groups = combine_df.groupby(['country','group'], as_index = False)['food'].count()
    return df_country_groups

In [154]:
df_country_groups = groupDF(combine_df)

In [155]:
df_country_groups

            country       group  food
0           Algeria       dairy     2
1           Algeria       extra     7
2           Algeria      fruits     5
3           Algeria      grains     4
4           Algeria     protein     1
5           Algeria  vegetables     3
6         Argentina       dairy     2
7         Argentina       extra     6
8         Argentina      fruits     2
9         Argentina      grains     2
10        Argentina     protein     2
11        Argentina  vegetables     1
12          Armenia       dairy     1
13          Armenia       extra     3
14          Armenia      grains     3
15          Armenia  vegetables     1
16        Australia       dairy    35
17        Australia       extra   143
18        Australia      fruits    32
19        Australia      grains    43
20        Australia     protein    14
21        Australia  vegetables     7
22          Austria       dairy     1
23          Austria       extra     6
24          Austria      fruits     1
25          Austria      grains     1
26          Austria     protein     1
27       Bangladesh       dairy     3
28       Bangladesh       extra    35
29       Bangladesh      fruits     2
..              ...         ...   ...
344          Turkey       extra   119
345          Turkey      fruits    22
346          Turkey      grains    37
347          Turkey     protein    25
348          Turkey  vegetables    42
349         Ukraine       dairy     2
350         Ukraine       extra     4
351         Ukraine      grains     4
352         Ukraine  vegetables     2
353  United Kingdom       dairy     3
354  United Kingdom       extra     6
355  United Kingdom      fruits     1
356  United Kingdom      grains     1
357  United Kingdom  vegetables     1
358   United States       dairy  1532
359   United States       extra  4908
360   United States      fruits   569
361   United States      grains  1154
362   United States     protein   572
363   United States  vegetables   546
364         Vietnam       dairy     1
365         Vietnam       extra   202
366         Vietnam      fruits    43
367         Vietnam      grains    47
368         Vietnam     protein    32
369         Vietnam  vegetables    41
370        Zimbabwe       dairy     2
371        Zimbabwe       extra     3
372        Zimbabwe      grains     3
373        Zimbabwe     protein     1

[374 rows x 3 columns]

In [166]:
def finalDF(df_country_groups):
    '''
    This function takes in a newly grouped, clean df of country, group, and food count. It transposes the
    group column and adds mean height by country.
    -----
    input: DataFrame
    output: DataFrame, DataFrame
    '''
    # Read in height df
    df_height = pd.read_csv('data/height_country.txt')
    
    # Clean country names in height df to match food group df 
    df_height['Country'] = [country.replace('-', ' ') for country in df_height['Country']]
    for i,country in enumerate(df_height['Country']):
        if re.search(r'^United States', country):
            df_height.loc[i, 'Country'] = 'United States'
    df_height_recent = df_height[df_height['Year of birth'] == 1996] #Use most recent year
    df_height_recent = df_height_recent.reset_index(drop = True)
    df_height_recent = df_height_recent.rename(columns = {'Year of birth':'year', 'Mean height (cm)':'mean', 
                         'Mean height lower 95% uncertainty interval (cm)':'lower95',
                        'Mean height upper 95% uncertainty interval (cm)' : 'upper95',
                                                     'Country':'country'}) #Rename cols 
    df_country_groups['country'] = [x.lower() for x in df_country_groups['country']]
    df_height_recent['country'] = [x.lower() for x in df_height_recent['country']]
    for i,country in enumerate(df_height_recent['country']):
        if re.search(r'^vie', country):
            df_height_recent.loc[i, 'country'] = 'vietnam'
    
    # Combine height df and food df
    final_df = df_country_groups.set_index('country').join(df_height_recent.set_index('country'), how = 'left')
    combined_men_group = final_df[final_df['Sex'] == 'Men'] #Split men and women
    combined_women_group = final_df[final_df['Sex'] == 'Women']
    cols = ['ISO', 'Sex', 'year'] #Drop unnecessary cols
    combined_men_group = combined_men_group.drop(cols, axis = 1)
    combined_women_group = combined_women_group.drop(cols, axis = 1)
    
    # Transpose df to have food groups as columns
    food_men = combined_men_group[['food', 'group']]
    food_women = combined_women_group[['food', 'group']]
    food_men = food_men.pivot(columns = 'group', values = 'food')
    food_women = food_women.pivot(columns = 'group', values = 'food')
    food_men = food_men.replace(np.nan,0)
    food_women = food_women.replace(np.nan,0)
    y_men = combined_men_group.groupby('country')['mean'].mean()
    y_women = combined_women_group.groupby('country')['mean'].mean()
    combined_men_group = food_men.join(y_men, how = 'left')
    combined_women_group = food_women.join(y_women, how = 'left')
    return combined_men_group, combined_women_group

In [167]:
df_country_groups.country.unique()

array(['algeria', 'argentina', 'armenia', 'australia', 'austria',
       'bangladesh', 'belgium', 'brazil', 'c te d ivoire', 'cameroon',
       'canada', 'chile', 'china', 'costa rica', 'cuba', 'czech republic',
       'denmark', 'egypt', 'england', 'ethiopia', 'finland', 'france',
       'germany', 'ghana', 'greece', 'guatemala', 'haiti', 'hungary',
       'india', 'indonesia', 'iran', 'iraq', 'ireland',
       'islands of the pacific', 'israel', 'italy', 'jamaica', 'japan',
       'kazakhstan', 'kenya', 'lebanon', 'liberia', 'malaysia', 'mexico',
       'morocco', 'mozambique', 'netherlands', 'nigeria', 'norway',
       'pakistan', 'persia', 'peru', 'philippines', 'poland', 'portugal',
       'puerto rico', 'russia', 'saudi arabia', 'scotland', 'slovenia',
       'south africa', 'south korea', 'spain', 'sweden', 'tanzania',
       'thailand', 'turkey', 'ukraine', 'united kingdom', 'united states',
       'vietnam', 'zimbabwe'], dtype=object)

In [168]:
final_df_men, final_df_women = finalDF(df_country_groups)

In [169]:
final_df_men

,dairy,extra,fruits,grains,protein,vegetables,mean
country,,,,,,,
algeria,2.0,7.0,5.0,4.0,1.0,3.0,170.071800
argentina,2.0,6.0,2.0,2.0,2.0,1.0,174.615725
armenia,1.0,3.0,0.0,3.0,0.0,1.0,171.996646
australia,35.0,143.0,32.0,43.0,14.0,7.0,179.204648
austria,1.0,6.0,1.0,1.0,1.0,0.0,177.407705
bangladesh,3.0,35.0,2.0,6.0,4.0,3.0,163.808228
belgium,0.0,2.0,0.0,1.0,0.0,1.0,181.698803
brazil,3.0,8.0,6.0,4.0,2.0,2.0,173.551211
cameroon,0.0,0.0,1.0,2.0,1.0,1.0,167.823191
canada,171.0,648.0,61.0,153.0,62.0,50.0,178.090372
chile,1.0,5.0,2.0,3.0,2.0,0.0,171.811282
china,6.0,263.0,12.0,42.0,20.0,24.0,171.827687
costa rica,1.0,1.0,1.0,0.0,0.0,1.0,168.931880
cuba,1.0,7.0,6.0,2.0,1.0,4.0,171.996130
czech republic,2.0,10.0,2.0,2.0,1.0,1.0,180.103745
denmark,2.0,3.0,0.0,2.0,1.0,0.0,181.385080
egypt,0.0,5.0,1.0,2.0,1.0,0.0,166.684058
ethiopia,9.0,58.0,7.0,15.0,4.0,14.0,166.231508
finland,2.0,3.0,0.0,1.0,0.0,0.0,179.590903
france,2.0,8.0,1.0,0.0,2.0,1.0,179.737913
germany,3.0,11.0,0.0,3.0,0.0,0.0,179.881177
ghana,0.0,6.0,2.0,4.0,3.0,3.0,168.849355
greece,3.0,6.0,4.0,6.0,2.0,2.0,177.316035
guatemala,1.0,4.0,3.0,3.0,1.0,2.0,163.408389
haiti,0.0,6.0,6.0,3.0,0.0,4.0,172.637754
hungary,3.0,8.0,1.0,2.0,4.0,0.0,177.264876
india,28.0,149.0,39.0,29.0,21.0,30.0,164.945898
indonesia,8.0,83.0,34.0,22.0,13.0,5.0,163.551654
iran,3.0,8.0,2.0,3.0,3.0,1.0,173.571308
iraq,1.0,8.0,2.0,2.0,2.0,0.0,170.430096
...,...,...,...,...,...,...,...
kenya,0.0,8.0,2.0,3.0,0.0,3.0,169.640092
lebanon,14.0,108.0,44.0,37.0,19.0,56.0,174.388569
liberia,1.0,4.0,1.0,1.0,0.0,2.0,163.660266
malaysia,26.0,92.0,48.0,7.0,28.0,7.0,167.884917
mexico,838.0,1629.0,316.0,923.0,171.0,388.0,169.011470
morocco,74.0,415.0,51.0,63.0,78.0,166.0,170.400163
mozambique,1.0,8.0,4.0,5.0,4.0,3.0,164.797564
netherlands,2.0,5.0,1.0,2.0,3.0,0.0,182.535379
nigeria,0.0,3.0,1.0,4.0,2.0,3.0,165.906790
norway,2.0,4.0,1.0,0.0,1.0,1.0,179.745104
pakistan,12.0,67.0,10.0,18.0,8.0,6.0,166.948180
peru,1.0,10.0,5.0,2.0,1.0,3.0,165.232472
philippines,16.0,194.0,39.0,43.0,21.0,28.0,163.229156
poland,4.0,15.0,2.0,3.0,2.0,0.0,177.326982
portugal,0.0,3.0,0.0,0.0,1.0,0.0,172.932882
puerto rico,1.0,3.0,1.0,1.0,0.0,0.0,172.084726
saudi arabia,1.0,3.0,1.0,3.0,2.0,1.0,167.670306
slovenia,1.0,6.0,1.0,2.0,3.0,3.0,179.802695
south africa,18.0,99.0,13.0,20.0,11.0,7.0,166.678099
south korea,7.0,237.0,12.0,44.0,36.0,35.0,174.919625
spain,0.0,7.0,1.0,2.0,4.0,5.0,176.593867
sweden,4.0,11.0,2.0,4.0,2.0,1.0,179.737042
tanzania,1.0,9.0,5.0,2.0,1.0,4.0,164.800391
thailand,37.0,218.0,79.0,44.0,68.0,26.0,169.162440
turkey,42.0,119.0,22.0,37.0,25.0,42.0,174.209562
ukraine,2.0,4.0,0.0,4.0,0.0,2.0,178.457049
united kingdom,3.0,6.0,1.0,1.0,0.0,1.0,177.490188
united states,1532.0,4908.0,569.0,1154.0,572.0,546.0,177.130396
vietnam,1.0,202.0,43.0,47.0,32.0,41.0,164.445552
zimbabwe,2.0,3.0,0.0,3.0,1.0,0.0,168.586005

In [165]:
with open('data/final_df_men.pickle', 'wb') as to_write:
    pickle.dump(final_df_men, to_write)
with open('data/final_df_women.pickle', 'wb') as to_write:
    pickle.dump(final_df_women, to_write)